[Unit]
Description=Prometheus Server
Documentation=https://prometheus.io/docs/introduction/overview/
After=network-online.target

[Service]
Restart=on-failure
RestartSec=5s
User=denis
Restart=on-failure

ExecStart=/home/denis/bme680-homekit/prometheus/prometheus-2.36.1.linux-armv6/prometheus \
  --config.file=/home/denis/bme680-homekit/prometheus/prometheus.yml \
  --storage.tsdb.path=/home/denis/bme680-homekit/prometheus/data

[Install]
WantedBy=multi-user.target