[Unit]
Description=Bme680 Homekit service
After=local-fs.target network-online.target

[Service]
WorkingDirectory=/home/pi/bme680-homekit/
Restart=on-failure
RestartSec=5s
User=pi
ExecStart=/usr/bin/python3 /home/pi/bme680-homekit/sensors/main.py

[Install]
WantedBy=multi-user.target
